@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body, html, h1 {
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color:#1b2d2a;
    color: white;
    padding: 20px;
    text-align: center;
}

p {
    font-size: 22px;
}

div{
    width: 500px;
    height: 500px;
    background-color: burlywood;
    border-color: black;
    border-width: 1px;
    border-style: dashed;
    margin: auto;
}
canvas {
    width: 500px;
    height: 500px;
    border: 1px, solid, black;
}